<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- Are you currently reading this, robot/human? -->
<meta name="robots" content="/robots.txt">
<meta name="humans" content="/humans.txt">

<meta name="description" content="Meals on Wheels by ACC provides a nutritious noontime meal and personal contact to homebound seniors five days a week. Approximately 2,300 Sacramento County seniors receive services through Meals on Wheels. Meals on Wheels by ACC is a tax extempt non-profit organization established to promote the general welfare and enhance the quality of life of older adults by identifying, developing, and providing culturally-sensitive health and human services, including nutrition services and related activities."/>
<meta name="keywords" content="Meals on Wheels, ACC, Asian Community Center, Sacramento, senior care, non profit, elderly, help"/>

<link rel="index" title="Meals on Wheels" href="mowtest_momentum.html"/>
<link rel="next" title="What does Meals on Wheels by ACC do?" href="/what-we-do/"/>

<!-- OpenGraph -->
<meta property="og:title" content="Meals on Wheels">
<meta property="og:type" content="website">
<meta property="og:url" content="http://mowsac.org">
<meta property="og:image" content="http://usa.static.cdn.accsv.org/img/static/mow/logo_meals_on_wheels.png">
<meta property="og:site_name" content="Meals on Wheels, by ACC">
<meta property="og:description" content="Meals on Wheels provides a nutritious noontime meal and personal contact to homebound seniors five days a week. Approximately 2,300 Sacramento County seniors receive services through Meals on Wheels.">
<meta property="fb:app_id" content="">


<meta name="viewport" content="width=device-width,initial-scale=1">